<p id="notice"><%= notice %></p>

    <!-- Lower Right Floating Action Button with ripple effect -->
    <% if @story.user.id == current_user.id %><!-- Only available if User is owner -->
      <!-- Lower Right Floating Action Button with ripple effect -->
      <div class="menu pmd-floating-action"  role="navigation" style="z-index: 1001;">
        <a data-target="#form-dialog-written" data-toggle="modal" class="pmd-floating-action-btn btn btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-default" data-title="New Entry">
          <span class="pmd-floating-hidden">New Journal Entry</span>
          <i class="material-icons">book</i>
        </a>
         <a data-target="#form-dialog-photos" data-toggle="modal" class="pmd-floating-action-btn btn btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-default" data-title="New Photo">
          <span class="pmd-floating-hidden">New Photo</span>
          <i class="material-icons">add_a_photo</i>
        </a>
        <a data-target="#form-dialog-location-tag" data-toggle="modal" class="pmd-floating-action-btn btn btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-default" data-title="New Location Tag">
          <span class="pmd-floating-hidden">New Location Tag</span>
          <i class="material-icons">add_location</i>
        </a>
        <a data-target="#form-dialog-transportation" data-toggle="modal" class="pmd-floating-action-btn btn btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-default" data-title="New Transportation">
          <span class="pmd-floating-hidden">New Transportation</span>
          <i class="material-icons">navigation</i>
        </a>
        <a data-target="#form-dialog-accomodation" data-toggle="modal" class="pmd-floating-action-btn btn btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-default" data-title="New Accomodations" >
          <span class="pmd-floating-hidden">New Accomodations</span>
          <i class="material-icons">local_hotel</i>
        </a>
        <a data-target="#form-dialog-participant" data-toggle="modal" class="pmd-floating-action-btn btn btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-default" data-title="New Participant" >
          <span class="pmd-floating-hidden">New Participant</span>
          <i class="material-icons">person_add</i>
        </a>
        <a class="pmd-floating-action-btn btn pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-primary" data-title="Add a New Event">
        	<span class="pmd-floating-hidden">Add a New Event</span>
          <i class="material-icons pmd-sm">add</i>
        </a>
      </div>


      <!-- New Event Modals -->

      <!-- New Accomodation Modals -->
      <div tabindex="-1" class="modal fade" id="form-dialog-accomodation" style="display: none;" aria-hidden="true">
        <div class="modal-dialog" style="width: 540px;">
          <div class="modal-content">
            <div class="modal-header pmd-modal-bordered">
              <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
              <h2 class="pmd-card-title-text">New Accomodation</h2><!-- Title -->
            </div>
            <%= form_for :event, url: events_path do |form| %>
            <div class="modal-body" style="margin-top: 0px; margin-bottom: 0px; padding-top: 0px; padding-bottom: 0px;">
              <div id='places-container' style="height: 100%; width: 100%;">
                <input id="pac-input2" class="controls" type="text" placeholder="Search Box" style="margin-top: 10px; width: 350px">
                <div id="mapAll" style="width: 500px; height: 300px;"></div>
              </div>
              <div class="form-group pmd-textfield pmd-textfield-floating-label">
                <label for="what">What</label>
                <input type="text" class="mat-input form-control" name=event[what]>
              </div>
              <div>
                <input type="hidden" id="locname2" name=event[where]>
                <input type="hidden" id="longitude2" name=event[long]>
                <input type="hidden" id="latitude2" name=event[lat]>
                <%= form.hidden_field :story_id, :value => @story.id %>
            	  <%= form.hidden_field :type_of_event, :value => 'accomodation' %>
            	</div>
              <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
              	<label class="control-label" for="regular1">Select Check In Date</label>
              	<input type="text" id="datetimepicker0" class="form-control" name=event[when]>
              </div>
              <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                <label class="control-label" for="regular1">Select Check Out Date</label>
                <input type="text" id="datetimepicker1" class="form-control" name=event[accomodation_checkout]>
              </div>
            </div>
            <div class="pmd-modal-action" style="padding-top: 0px; padding-bottom: 0px;">
              <%= form.submit :Submit, class: 'btn pmd-ripple-effect btn-primary' %>
            </div>
            <%end%>
          </div>
        </div>
      </div>

      <!-- New participant Modals -->
      <div tabindex="-1" class="modal fade" id="form-dialog-participant" style="display: none;" aria-hidden="true">
        <div class="modal-dialog" style="width: 35%;">
          <div class="modal-content" style="width: 100%;">
            <div class="modal-header pmd-modal-bordered">
              <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
              <h2 class="pmd-card-title-text">New Participant</h2><!-- Title -->
            </div>

            <%= form_for :story_members, url: story_members_path do |form| %>
            <div class="modal-body">
              <div>
                <%= form.hidden_field :story_id, :value => @story.id %>
              </div>
              <div class="form-group pmd-textfield pmd-textfield-floating-label">
                <label>New Participants</label>
                <select class="select-tags form-control pmd-select2-tags" multiple name="story_members[participant][]" style="width: 100%;">
                      <% current_user.friendships.each do |x| %>
                      <%  y = x.friend_id %>
                      <option><%= User.find(y).first_name %></option>
                      <% end %>
                  </select>
              </div>
            </div>
            <div class="pmd-modal-action">
              <%= form.submit :Submit, class: 'btn pmd-ripple-effect btn-primary' %>
            </div>
            <%end%>
          </div>
        </div>
      </div>


      <!-- New Transportation Modals -->
      <div tabindex="-1" class="modal fade" id="form-dialog-transportation" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header pmd-modal-bordered">
              <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
              <h2 class="pmd-card-title-text">New Mode of Transportation</h2><!-- Title -->
            </div>
            <%= form_for :event, url: events_path do |form| %>
            <div class="modal-body">

            	<div>
            	<%= form.hidden_field :story_id, :value => @story.id %>
            	<%= form.hidden_field :type_of_event, :value => 'transportation' %>
            	</div>
  			<div class="form-group pmd-textfield pmd-textfield-floating-label">
  				<label>Mode of Transportation</label>
  				<select class="select-simple form-control pmd-select2" name=event[mode_of_transport]>
  			        <option></option>
  			        <option>Bus</option>
  			        <option>Drive</option>
  			        <option>Plane</option>
  			        <option>Train</option>
  			        <option>Walk</option>
  			    </select>
  			</div>

              <div class="form-group pmd-textfield pmd-textfield-floating-label">
                <label for="What">Bus/Flight/Train Number</label>
                <input type="text" class="mat-input form-control" name=event[flight_num]>
              </div>
              <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
              	<label class="control-label" for="regular1">Departure Time</label>
              	<input type="text" id="timepicker" class="form-control" name=event[when]>
              </div>
              <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
              	<label class="control-label" for="regular1">Departure Date</label>
              	<input type="text" id="datetimepicker3" class="form-control" name=event[when]>
              </div>
            </div>
            <div class="pmd-modal-action">
              <%= form.submit :Submit, class: 'btn pmd-ripple-effect btn-primary' %>
            </div>
            <%end%>
          </div>
        </div>
      </div>

      <!-- New Location Tag Modals -->
      <div tabindex="-1" class="modal fade" id="form-dialog-location-tag" style="display: none;" aria-hidden="true">
        <div class="modal-dialog" style="width: 70%;">
          <div class="modal-content">
            <div class="modal-header pmd-modal-bordered" style="margin-bottom: 0px;">
              <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
              <h2 class="pmd-card-title-text">Tag a Location</h2><!-- Title -->
            </div>
            <div class="modal-body" style="margin-top: 0px; margin-bottom: 0px; padding-bottom: 0px;" >
              <div id='places-container' style="height: 100%; width: 100%;">
                 <input id="pac-input" class="controls" type="text" placeholder="Search Box" style="margin-top: 10px;">
                <div id="map"></div>
              </div>
              <%= form_for :event, url: events_path do |form| %>
              <div class="form-group pmd-textfield pmd-textfield-floating-label" style="margin-bottom: 0px;">
                <label for="what">What</label>
                <input type="text" class="mat-input form-control" name=event[what]>
              </div>

              <div>
                <input type="hidden" id="locname" name=event[where]>
          <input type="hidden" id="longitude" name=event[long]>
          <input type="hidden" id="latitude" name=event[lat]>
                <%= form.hidden_field :story_id, :value => @story.id %>
                <%= form.hidden_field :type_of_event, :value => 'location_tag' %>
              </div>
              <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed" style="margin-bottom: 0px;">
                <label class="control-label" for="regular1">When</label>
                <input type="text" id="datetimepicker4" class="form-control" name=event[when]>

              </div>
              <div class="form-group pmd-textfield pmd-textfield-floating-label" style="margin-bottom: 0px;">
                <label for="why">Why</label>
                <input type="text" class="mat-input form-control" name=event[why]>
              </div>
            </div>
            <div class="pmd-modal-action">
              <%= form.submit :Submit, class: 'btn pmd-ripple-effect btn-primary' %>
            </div>
            <%end%>
          </div>
        </div>
      </div>

      <!-- New Photos Modals -->
      <div tabindex="-1" class="modal fade" id="form-dialog-photos" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header pmd-modal-bordered">
              <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
              <h2 class="pmd-card-title-text">New Photos</h2><!-- Title -->
            </div>
            <%= form_for :event, url: events_path do |form| %>
            <div class="modal-body">
              <div>
              <%= form.hidden_field :story_id, :value => @story.id %>
              <%= form.hidden_field :type_of_event, :value => 'photos' %>
              </div>
              <div class="form-group pmd-textfield pmd-textfield-floating-label">
                <label for="What">What Happened</label>
                <input type="text" class="mat-input form-control" name=event[what]>
              </div>
              <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
              	<label class="control-label" for="regular1">When</label>
              	<input type="text" id="datetimepicker5" class="form-control" name=event[when]>
              </div>
              <%= form.fields_for :eventphotos do |p| %>
                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                  <%= p.file_field :photo, multiple: true, name: "eventphotos_attributes[photos][]" %>
                </div>
              <% end %>
            </div>
            <div class="pmd-modal-action">
              <%= form.submit :Submit, class: 'btn pmd-ripple-effect btn-primary' %>
            </div>
            <%end%>
          </div>
        </div>
      </div>

      <!-- New Written Entry Modals -->
      <div tabindex="-1" class="modal fade" id="form-dialog-written" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header pmd-modal-bordered">
              <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
              <h2 class="pmd-card-title-text">Written</h2><!-- Title -->
            </div>
            <%= form_for :event, url: events_path do |form| %>
            <div class="modal-body">
              <div>
                <%= form.hidden_field :story_id, :value => @story.id %>
                <%= form.hidden_field :type_of_event, :value => 'written' %>
              </div>
              <div class="form-group pmd-textfield pmd-textfield-floating-label">
                <label for="What">What Happened?</label>
                <input type="text" class="mat-input form-control" name=event[what]>
              </div>
              <div class="form-group pmd-textfield pmd-textfield-floating-label">
                <label for="What">Where?</label>
                <input type="text" class="mat-input form-control" name=event[where]>
              </div>
              <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
              	<label class="control-label" for="regular1">When</label>
              	<input type="text" id="datetimepicker6" class="form-control" name=event[when]>
              </div>
              <div class="form-group pmd-textfield pmd-textfield-floating-label">
                <label for="Entry">Entry</label>
                <textarea required class="form-control mat-input" name=event[why]></textarea>
              </div>
            </div>

            <div class="pmd-modal-action">
              <%= form.submit :Submit, class: 'btn pmd-ripple-effect btn-primary' %>
            </div>
            <%end%>
          </div>
        </div>
      </div>
    <% end %>

    <!-- All Location Tag Modals -->
      <div tabindex="-1" class="modal fade" id="form-dialog-location-tag-all" style="display: none;" aria-hidden="true">
        <div class="modal-dialog" style="width: 90%;">
          <div class="modal-content">
            <div class="modal-header pmd-modal-bordered">
              <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
              <h2 class="pmd-card-title-text">All Location Tags</h2><!-- Title -->
            </div>
            <div class="modal-body">
              <% allevents = Array.new %>
               <% photo = @story.events.where(type_of_event: "photos") %>
                <% if photo.count > 0 %>
                  <% photo.each do |y|%>
                    <% y.eventphotos.each do |x|%>
                      <% allevents.push(x) %>
                    <% end %>
                  <% end %>
                <% end %>
              <% accom = @story.events.where(type_of_event: "accomodation") %>
                <% if accom.count > 0 %>
                  <% accom.each do |x|%>
                    <% allevents.push(x) %>
                  <% end %>
                <% end %>
              <% local = @story.events.where(type_of_event: "location_tag") %>
                <% if local.count > 0 %>
                  <% local.each do |x|%>
                    <% allevents.push(x) %>
                  <% end %>
                <% end %>
              <% count = allevents.count %>
              <% if count > 0 %>
                <div id='places-container' style="height: 100%; width: 100%;">
                  <div id="mapall" style="height: 560px;"></div>
                  <% if count == 1 %>
                    <% if allevents[0].type_of_event == 'picfile' %>
                      <% icon = allevents[0].photo.thumb.url %>
                    <% elsif allevents[0].type_of_event == 'location_tag' %>
                      <% icon = asset_path 'mapmarker.png' %>
                    <% else %>
                      <% icon = asset_path 'hotel.png' %>
                    <% end %>
                    <script>
                      function initMapAll() {
                        var myLatLng = {lat: <%= allevents[0].lat %>, lng: <%= allevents[0].long %>};

                        var map = new google.maps.Map(document.getElementById('mapall'), {
                          zoom: 15,
                          center: myLatLng
                        });

                        // Multiple Markers
                        var markers = [
                          <% if allevents[0].type_of_event == 'picfile' %>
                              <% icon = allevents[0].photo.thumb.url %>
                              <% url = '#picture-window'+allevents[0].id.to_s %>
                            <% elsif allevents[0].type_of_event == 'location_tag' %>
                              <% icon = asset_path 'mapmarker.png' %>
                              <% url = '' %>
                            <% else %>
                              <% icon = asset_path 'hotel.png' %>
                              <% url = '#form-dialog-location'+allevents[0].id.to_s %>
                           <% end %>
                          ['<%= icon %>', <%= allevents[0].lat %>, <%= allevents[0].long %>,'<%= url %>']
                        ];

                        // Loop through our array of markers & place each one on the map
                        for( i = 0; i < markers.length; i++ ) {
                            var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
                            marker = new google.maps.Marker({
                                position: position,
                                map: map,
                                url: markers[i][3],
                                icon: markers[i][0]
                            });
                        }

                        google.maps.event.addListener(marker, 'click', function() {
                          $(marker.url).modal();
                        });

                        $("#form-dialog-location-tag-all").on("shown.bs.modal", function () {
                          google.maps.event.trigger(map, "resize");
                          map.setCenter(myLatLng);
                        });
                      }
                    </script>
                  <% elsif count == 2 %>
                    <script>
                      function initMapAll() {
                        var bounds = new google.maps.LatLngBounds();
                        var map = new google.maps.Map(document.getElementById('mapall'), {
                          scrollwheel: false,
                          zoomControl: true,
                          mapTypeControl: false,
                        });

                        // Multiple Markers
                        var markers = [
                          <% if allevents[0].type_of_event == 'picfile' %>
                              <% icon = allevents[0].photo.thumb.url %>
                              <% url = '#picture-window'+allevents[0].id.to_s %>
                            <% elsif allevents[0].type_of_event == 'location_tag' %>
                              <% icon = asset_path 'mapmarker.png' %>
                              <% url = '' %>
                            <% else %>
                              <% icon = asset_path 'hotel.png' %>
                              <% url = '#form-dialog-location'+allevents[0].id.to_s %>
                           <% end %>
                          ['<%= icon %>', <%= allevents[0].lat %>, <%= allevents[0].long %>, '<%= url %>'],
                          <% if allevents[1].type_of_event == 'picfile' %>
                              <% icon = allevents[1].photo.thumb.url %>
                              <% url = '#picture-window'+allevents[1].id.to_s %>
                            <% elsif allevents[1].type_of_event == 'location_tag' %>
                              <% icon = asset_path 'mapmarker.png' %>
                              <% url = '' %>
                            <% else %>
                              <% icon = 'assets/hotel.png' %>
                              <% url = '#form-dialog-location'+allevents[1].id.to_s %>
                           <% end %>
                           ['<%= icon %>', <%= allevents[1].lat %>, <%= allevents[1].long %>, '<%= url %>']
                        ];

                        // Loop through our array of markers & place each one on the map
                        for( i = 0; i < markers.length; i++ ) {
                            var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
                            bounds.extend(position);
                            marker = new google.maps.Marker({
                                position: position,
                                map: map,
                                icon: markers[i][0]
                            });
                            google.maps.event.addListener(marker, 'click', (function(marker, i) {
                              return function() {
                              $(marker.url).modal();
                              console.log(marker.url)
                              }
                            }) (marker, i));
                            // Automatically center the map fitting all markers on the screen
                            map.fitBounds(bounds);
                        }

                        google.maps.event.addListener(marker, 'click', function() {
                          $(marker.url).modal();
                        });

                        $("#form-dialog-location-tag-all").on("shown.bs.modal", function () {
                            google.maps.event.trigger(map, "resize");
                            map.fitBounds(bounds);
                          });
                        }
                    </script>
                  <% else %>
                  <script>
                    function initMapAll() {
                      var bounds = new google.maps.LatLngBounds();
                      var map = new google.maps.Map(document.getElementById('mapall'), {
                        scrollwheel: false,
                        zoomControl: true,
                        mapTypeControl: false,
                      });

                      // Multiple Markers
                      var markers = [
                        <% for i in 0..(count-2) do %>
                          <% if allevents[i].type_of_event == 'picfile' %>
                            <% icon = allevents[i].photo.thumb.url %>
                             <% url = '#picture-window'+allevents[i].id.to_s %>
                          <% elsif allevents[i].type_of_event == 'location_tag' %>
                            <% icon = asset_path 'mapmarker.png' %>
                            <% url = '' %>
                          <% else %>
                            <% icon = asset_path 'hotel.png' %>
                            <% url = '#form-dialog-location'+allevents[i].id.to_s %>
                          <% end %>
                          ['<%= icon %>', <%= allevents[i].lat %>, <%= allevents[i].long %>, '<%= url %>'],
                        <% end %>
                        <% if allevents[count - 1].type_of_event == 'picfile' %>
                            <% icon = allevents[count - 1].photo.thumb.url %>
                            <% url = '#picture-window'+allevents[count-1].id.to_s %>
                          <% elsif allevents[count - 1].type_of_event == 'location_tag' %>
                            <% icon = asset_path 'mapmarker.png' %>
                            <% url = '#form-dialog-location'+allevents[i].id.to_s %>
                          <% else %>
                            <% icon = 'assets/hotel.png' %>
                            <% url = '' %>
                         <% end %>
                         ['<%= icon %>', <%= allevents[count - 1].lat %>, <%= allevents[count - 1].long %>, '<%= url %>']
                      ];

                      // Loop through our array of markers & place each one on the map
                      for( i = 0; i < markers.length; i++ ) {
                          var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
                          bounds.extend(position);
                          marker = new google.maps.Marker({
                              position: position,
                              map: map,
                              url: markers[i][3],
                              icon: markers[i][0]
                          });
                          google.maps.event.addListener(marker, 'click', (function(marker, i) {
                            return function() {
                            $(marker.url).modal();
                            console.log(marker.url)
                            }
                          }) (marker, i));
                          // Automatically center the map fitting all markers on the screen
                          map.fitBounds(bounds);
                      }

                      $("#form-dialog-location-tag-all").on("shown.bs.modal", function () {
                          google.maps.event.trigger(map, "resize");
                          map.fitBounds(bounds);
                        });
                      }
                  </script>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>


      <!--Fixed tab example -->
      <div class="pmd-card pmd-z-depth" style="position: absolute; background-color: #F5F5F6; box-shadow: 0 0 black; padding-top: 49px;">
        <div class="pmd-tabs pmd-tabs-bg" style="background-color: #588C8B; box-shadow: 0 0 black;">
          <div class="pmd-tab-active-bar"></div>
          <ul role="tablist" class="nav nav-tabs nav-justified">
          <li class="active" role="presentation"><a data-toggle="tab" role="tab" aria-controls="home" href="#home-fixed" style="color: black;">Events</a></li>
          <li role="presentation"><a data-target="#form-dialog-location-tag-all" data-toggle="modal" style="color: black;">Map</a></li>
          <li role="presentation"><a data-toggle="tab" role="tab" aria-controls="messages" href="#work-fixed" style="color: black;">Participants</a></li>
          </ul>
        </div>
        <div class="pmd-card-body" style="background-color: #F5F5F6">
          <div class="tab-content">
          <!-- START OF EVENT CARD TAB -->
          <div role="tabpanel" class="tab-pane active" id="home-fixed">
          <!-- CARDS -->
            <!-- Organize Cards by Date -->
            <% dates_arr = @story.events.distinct.pluck(:when) %><!-- Makes Array of Distinct Dates -->
            <% dates_arr = dates_arr.sort! %>

            <% dates_arr.each do |date| %><!-- Loops each distinct date -->
              <% day_arr = @story.events.where(when: date) %><!--  array of events that happen on that date -->

              <div style="width: 100%; border-bottom: 2px rgba(0 0 0 0.7);  border-bottom: thick;"><!-- Display Date of Events -->
                <h1 style="border-bottom: solid #87BCBB; width: 100%; padding-bottom: 10px;">
                  <%= date.strftime('%b %d, %Y') %>
                </h1>
              </div>

              <div class="row" style="margin: 30px 10px 0px 10px;">

                <!-- CARD COLUMN #1 -->
                <div id="eventcolumn" class="col-xs-4">
                  <% day_arr.each_with_index do |event, index| %>
                    <% modulus = index % 3 %>
                    <% if modulus == 0 %><!-- MODULUS == 1 WILL BE SECOND COLUMN -->

                      <!-- ACCOMODATION CARDS -->
                      <% if event.type_of_event == 'accomodation' %>
                        <a data-target="#form-dialog-location<%= event.id %>" data-toggle="modal" style="text-decoration: none; text-decoration-color: black;" >
                        <!--Title, Media, and Action area -->
                          <div class="pmd-card pmd-card-media-inline pmd-z-depth">
                            <!-- Card media -->
                            <div class="pmd-card-media">
                              <!-- Card media heading -->
                                <div class="media-body">
                                    <h3 class="pmd-card-title-text"><%= event.what.upcase %></h3>
                                    <span class="pmd-card-subtitle-text"><%= event.where %></span><br>
                                    <span class="pmd-card-subtitle-text">Check-in: <%= event.when.strftime('%b %d, %Y') %></span><br>
                                    <span class="pmd-card-subtitle-text">Check-out: <%= event.accomodation_checkout.strftime('%b %d, %Y') %></span>
                                </div>

                                <!-- Card media image -->
                                <div class="media-right media-middle">
                                  <img width="152" height="152" src="/assets/cartoon-hotel-21.jpg">
                                </div>
                            </div>
                          </div>
                        </a>

                        <!-- Accomodation Location Tag Modals -->
                        <div tabindex="-1" class="modal fade" id="form-dialog-location<%= event.id %>" style="display: none;" aria-hidden="true">
                          <div class="modal-dialog" style="width: 50%;">
                            <div class="modal-content">
                              <div class="modal-header pmd-modal-bordered">
                                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                                <h2 class="pmd-card-title-text"><h3 class="pmd-card-title-text"><%= event.what.upcase %></h3></h2><!-- Title -->
                              </div>
                              <div class="modal-body">
                                <div id='places-container' style="height: 100%; width: 100%;">
                                  <div id="mapcard<%= event.id %>" style="width: 100%; height: 450px;"></div>
                                    <script>
                                      function initMap<%= event.id %>() {
                                        var myLatLng = {lat: <%= event.lat %>, lng: <%= event.long %>};
                                        var map = new google.maps.Map(document.getElementById('mapcard<%= event.id %>'), {
                                          zoom: 16,
                                          scrollwheel: false,
                                          center: myLatLng
                                        });

                                        var marker = new google.maps.Marker({
                                          position: myLatLng,
                                          map: map,
                                         });
                                        $("#form-dialog-location<%= event.id %>").on("shown.bs.modal", function () {
                                          google.maps.event.trigger(map, "resize");
                                          map.setCenter(myLatLng);
                                        });
                                      }
                                    </script>
                                  <span class="pmd-card-subtitle-text"><%= event.where %></span><br>
                                  <span class="pmd-card-subtitle-text">Check-in: <%= event.when.strftime('%b %d, %Y') %></span><br>
                                  <span class="pmd-card-subtitle-text">Check-out: <%= event.accomodation_checkout.strftime('%b %d, %Y') %></span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      <% end %><!-- ACCOMODATION CARDS END-->

                      <!-- TRANSPORTATION CARDS -->
                      <% if event.type_of_event == 'transportation' %>

                        <!--Title, Media, and Action area -->
                        <div class="pmd-card pmd-card-media-inline pmd-z-depth">
                          <!-- Card media -->
                            <div class="pmd-card-media">
                              <!-- Card media heading -->
                                <div class="media-body">
                                    <h3 class="pmd-card-title-text"><%= event.mode_of_transport.upcase %></h3>
                                    <% if event.flight_num != nil %>
                                      <span class="pmd-card-subtitle-text"><%= event.flight_num %></span><br>
                                    <% end %>
                                    <% if event.flight_date != nil %>
                                      <span class="pmd-card-subtitle-text">Date: <%= event.when.strftime('%b %d, %Y') %></span><br>
                                    <% end %>
                                    <% if event.flight_time != nil %>
                                    <span class="pmd-card-subtitle-text">Time: <%= event.flight_time.strftime('%I:%M %p') %></span>
                                    <% end %>
                                </div>

                                <!-- Card media image -->
                                <div class="media-right media-middle">
                                  <% if event.mode_of_transport == 'Bus' %>
                                    <img width="152" height="152" src="/assets/bus.png">
                                  <% elsif event.mode_of_transport == 'Drive' %>
                                    <img width="152" height="152" src="/assets/car.png">
                                  <% elsif event.mode_of_transport == 'Plane' %>
                                    <img width="152" height="152" src="/assets/plane.png">
                                  <% elsif event.mode_of_transport == 'Train' %>
                                    <img width="152" height="152" src="/assets/train.jpg">
                                  <% else %>
                                    <img width="152" height="152" src="/assets/walk.png">
                                  <% end %>
                                </div>
                            </div>
                        </div>
                      <% end %><!-- TRANSPORTATION CARDS END -->

                      <!-- PHOTO CARDS -->
                      <% if event.type_of_event == 'photos' %>
                        <% event.eventphotos.each_with_index do |photo, j| %>
                          <div tabindex="-1" class="modal fade" id="picture-window<%= event.eventphotos[j].id %>" style="display: none;" aria-hidden="true">
                            <div class="modal-dialog" style="width: 50%;">
                              <div class="modal-content">
                                <div class="modal-header pmd-modal-bordered">
                                  <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                                  <h2 class="pmd-card-title-text">Map Image</h2><!-- Title -->
                                </div>
                                <div class="modal-body">
                                  <div class="pmd-card-media">
                                    <%=image_tag event.eventphotos[j].photo.card.url, class:"img-responsive", id:"card-photo"%>
                                  </div>
                                </div>

                              </div>
                            </div>
                          </div>
                        <% end %>

                        <!--Media, Title, Description and Action area -->
                        <div class="pmd-card pmd-card-default pmd-z-depth">
                          <!-- Card media -->
                          <div class="pmd-card-media">
                            <div id="myCarousel<%= event.id %>" class="carousel slide" data-ride="carousel" data-interval="false" >
                              <!-- Indicators -->
                              <ol class="carousel-indicators">
                                <li data-target="#myCarousel<%= event.id %>" data-slide-to="0" class="active"></li>
                                <% count = event.eventphotos.count %>
                                <% for i in 1..(count) %>
                                  <li data-target="#myCarousel<%= event.id %>" data-slide-to="<%= i %>"></li>
                                  <% i += 1 %>
                                <% end %>

                              </ol>

                              <!-- Wrapper for slides -->
                              <div class="carousel-inner">
                                  <div class="item active">
                                    <img src="<%= event.eventphotos[0].photo.card.url %>" style="width:100%;">
                                  </div>
                                  <% if count > 1 %>
                                    <% for i in 1..(count - 1) %>
                                      <div class="item">
                                        <img src="<%= event.eventphotos[i].photo.card.url %>" style="width:100%;">
                                      </div>
                                      <% i += 1 %>
                                    <% end %>
                                  <% end %>
                                  <div class="item" id='mapdiv<%= event.id %>'>
                                    <div id='places-container' style="height: 100%; width: 100%;">
                                      <div id="mapcard<%= event.id %>" style="width: 100%; height: 400px;"></div>
                                        <% if count == 1 %>
                                          <script>
                                            function initMap<%= event.id %>() {
                                              var myLatLng = {lat: <%= event.eventphotos[0].lat %>, lng: <%= event.eventphotos[0].long %>};
                                              var map = new google.maps.Map(document.getElementById('mapcard<%= event.id %>'), {
                                                zoom: 15,
                                                scrollwheel: false,
                                                mapTypeControl: false,
                                                zoomControlOptions: {
                                                  style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
                                                  position: google.maps.ControlPosition.TOP_CENTER
                                                },
                                                center: myLatLng
                                              });
                                              var marker = new google.maps.Marker({
                                                position: myLatLng,
                                                map: map,
                                                url: '#picture-window<%= event.eventphotos[0].id %>',
                                                icon: '<%= event.eventphotos[0].photo.thumb.url %>',
                                              });

                                              google.maps.event.addListener(marker, 'click', function() {
                                                $(marker.url).modal();
                                              });


                                              $('#myCarousel<%= event.id %>').on('slid.bs.carousel', function () {
                                                // Fetch map from maps object by key from element's data attribute
                                                google.maps.event.trigger(map, "resize");
                                                map.setCenter(myLatLng);
                                              });
                                            }
                                          </script>
                                        <% else %>
                                          <script>
                                            function initMap<%= event.id %>() {
                                              var bounds = new google.maps.LatLngBounds();
                                              var map = new google.maps.Map(document.getElementById('mapcard<%= event.id %>'), {
                                                scrollwheel: false,
                                                zoomControl: true,
                                                mapTypeControl: false,
                                                zoomControlOptions: {
                                                    style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
                                                    position: google.maps.ControlPosition.TOP_CENTER
                                                },
                                              });

                                              // Multiple Markers
                                              var markers = [
                                                <% if event.eventphotos.count == 1 %>
                                                  ['<%= event.eventphotos[0].photo.thumb.url %>', <%= event.eventphotos[0].lat %>, <%= event.eventphotos[0].long %>, '#picture-window<%= event.eventphotos[0].id %>']
                                                <% elsif event.eventphotos.count == 2 %>
                                                    ['<%= event.eventphotos[0].photo.thumb.url %>', <%= event.eventphotos[0].lat %>, <%= event.eventphotos[0].long %>, '#picture-window<%= event.eventphotos[0].id %>'],
                                                    ['<%= event.eventphotos[1].photo.thumb.url %>', <%= event.eventphotos[1].lat %>, <%= event.eventphotos[1].long %>, '#picture-window<%= event.eventphotos[1].id %>']
                                                <% elsif event.eventphotos.count > 2 %>
                                                  <% for j in 0..(count-2) %>
                                                    ['<%= event.eventphotos[j].photo.thumb.url %>', <%= event.eventphotos[j].lat %>, <%= event.eventphotos[j].long %>, '#picture-window<%= event.eventphotos[j].id %>'],
                                                    <% j += 1 %>
                                                  <% end %>
                                                  ['<%= event.eventphotos[count-1].photo.thumb.url %>', <%= event.eventphotos[count-1].lat %>, <%= event.eventphotos[count-1].long %>, '#picture-window<%= event.eventphotos[count-1].id %>']
                                                <% end %>
                                              ];

                                              // Loop through our array of markers & place each one on the map
                                              for( i = 0; i < markers.length; i++ ) {
                                                  var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
                                                  bounds.extend(position);
                                                  marker = new google.maps.Marker({
                                                      position: position,
                                                      map: map,
                                                      url: markers[i][3],
                                                      icon: markers[i][0]
                                                  });
                                                  google.maps.event.addListener(marker, 'click', (function(marker, i) {
                                                    return function() {
                                                    $(marker.url).modal();
                                                    console.log(marker.url)
                                                    }
                                                  }) (marker, i));
                                                  // Automatically center the map fitting all markers on the screen
                                                  map.fitBounds(bounds);
                                              }

                                              $('#myCarousel<%= event.id %>').on('slid.bs.carousel', function () {
                                                // Fetch map from maps object by key from element's data attribute
                                                google.maps.event.trigger(map, "resize");
                                                map.fitBounds(bounds);
                                              });
                                            }
                                          </script>
                                        <% end %>
                                    </div>
                                  </div>
                              </div>

                              <!-- Left and right controls -->
                              <a class="left carousel-control" href="#myCarousel<%= event.id %>" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                                <span class="sr-only">Previous</span>
                              </a>
                              <a class="right carousel-control" href="#myCarousel<%= event.id %>" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                                <span class="sr-only">Next</span>
                              </a>
                            </div>
                          </div>

                          <!-- Card body -->
                          <div class="pmd-card-body">
                            <div class="media-body media-middle">
                              <h3 class="pmd-card-title-text"><%= event.what %></h3>
                            </div>
                          </div>
                        </div>
                      <% end %><!-- PHOTO CARDS END -->

                      <!-- LOCATION TAG CARDS -->
                      <% if event.type_of_event == 'location_tag' %>
                        <!--Media, Title, Description and Action area -->
                        <div class="pmd-card pmd-card-default pmd-z-depth">
                          <!-- Card media -->
                          <div class="pmd-card-media">

                            <div id='places-container' style="height: 100%; width: 100%;">
                              <div id="mapcard<%= event.id %>" style="width: 100%; height: 300px;"></div>
                              <script>
                                function initMap<%= event.id %>() {
                                  var myLatLng = {lat: <%= event.lat %>, lng: <%= event.long %>};
                                  var map = new google.maps.Map(document.getElementById('mapcard<%= event.id %>'), {
                                    zoom: 14,
                                    scrollwheel: false,
                                    center: myLatLng
                                  });

                                  var marker = new google.maps.Marker({
                                    position: myLatLng,
                                    map: map,
                                   });
                                }
                              </script>
                            </div>
                          </div>

                          <!-- Card body -->
                          <div class="pmd-card-body">
                            <div class="media-body media-middle">
                                <h3 class="pmd-card-title-text"><%= event.what %></h3>
                                <span class="pmd-card-subtitle-text"><%= event.where %></span>
                            </div>
                            <%= event.why %>
                          </div>

                        </div>
                      <% end %><!-- LOCATION TAG CARDS END -->

                      <!-- WRITTEN ENTRY CARDS -->
                      <% if event.type_of_event == 'written' %>

                        <!--Media, Title, Description and Action area -->
                        <div class="pmd-card pmd-card-default pmd-z-depth">

                          <!-- Card body -->
                          <div class="pmd-card-body">
                            <div class="media-body media-middle">
                                <h3 class="pmd-card-title-text"><%= event.what %></h3><br>
                                <span class="pmd-card-subtitle-text"><%= event.when.strftime('%b %d, %Y') %></span>
                                <span class="pmd-card-subtitle-text"><%= event.where %></span><br>
                                <br>
                            </div>
                            <%= event.why %>
                          </div>

                        </div>
                      <% end %><!-- WRITTEN ENTRY CARDS END -->

                    <% end %>
                  <% end %>
                </div>
                <!-- CARD COLUMN #1 END -->

                <!-- CARD COLUMN #2 -->
                <div id="eventcolumn" class="col-xs-4">
                  <% day_arr.each_with_index do |event, index| %>
                    <% modulus = index % 3 %>
                    <% if modulus == 1 %><!-- MODULUS == 1 WILL BE SECOND COLUMN -->

                      <!-- ACCOMODATION CARDS -->
                      <% if event.type_of_event == 'accomodation' %>
                        <a data-target="#form-dialog-location<%= event.id %>" data-toggle="modal" style="text-decoration: none; text-decoration-color: black;" >
                        <!--Title, Media, and Action area -->
                          <div class="pmd-card pmd-card-media-inline pmd-z-depth">
                            <!-- Card media -->
                            <div class="pmd-card-media">
                              <!-- Card media heading -->
                                <div class="media-body">
                                    <h3 class="pmd-card-title-text"><%= event.what.upcase %></h3>
                                    <span class="pmd-card-subtitle-text"><%= event.where %></span><br>
                                    <span class="pmd-card-subtitle-text">Check-in: <%= event.when.strftime('%b %d, %Y') %></span><br>
                                    <span class="pmd-card-subtitle-text">Check-out: <%= event.accomodation_checkout.strftime('%b %d, %Y') %></span>
                                </div>

                                <!-- Card media image -->
                                <div class="media-right media-middle">
                                  <img width="152" height="152" src="/assets/cartoon-hotel-21.jpg">
                                </div>
                            </div>
                          </div>
                        </a>
                        <!-- Accomodation Location Tag Modals -->
                        <div tabindex="-1" class="modal fade" id="form-dialog-location<%= event.id %>" style="display: none;" aria-hidden="true">
                          <div class="modal-dialog" style="width: 50%;">
                            <div class="modal-content">
                              <div class="modal-header pmd-modal-bordered">
                                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                                <h2 class="pmd-card-title-text"><h3 class="pmd-card-title-text"><%= event.what.upcase %></h3></h2><!-- Title -->
                              </div>
                              <div class="modal-body">
                                <div id='places-container' style="height: 100%; width: 100%;">
                                  <div id="mapcard<%= event.id %>" style="width: 100%; height: 450px;"></div>
                                    <script>
                                      function initMap<%= event.id %>() {
                                        var myLatLng = {lat: <%= event.lat %>, lng: <%= event.long %>};
                                        var map = new google.maps.Map(document.getElementById('mapcard<%= event.id %>'), {
                                          zoom: 16,
                                          scrollwheel: false,
                                          center: myLatLng
                                        });

                                        var marker = new google.maps.Marker({
                                          position: myLatLng,
                                          map: map,
                                         });
                                        $("#form-dialog-location<%= event.id %>").on("shown.bs.modal", function () {
                                          google.maps.event.trigger(map, "resize");
                                          map.setCenter(myLatLng);
                                        });
                                      }
                                    </script>
                                  <span class="pmd-card-subtitle-text"><%= event.where %></span><br>
                                  <span class="pmd-card-subtitle-text">Check-in: <%= event.when.strftime('%b %d, %Y') %></span><br>
                                  <span class="pmd-card-subtitle-text">Check-out: <%= event.accomodation_checkout.strftime('%b %d, %Y') %></span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      <% end %><!-- ACCOMODATION CARDS END-->

                      <!-- TRANSPORTATION CARDS -->
                      <% if event.type_of_event == 'transportation' %>

                        <!--Title, Media, and Action area -->
                        <div class="pmd-card pmd-card-media-inline pmd-z-depth">
                          <!-- Card media -->
                            <div class="pmd-card-media">
                              <!-- Card media heading -->
                                <div class="media-body">
                                    <h3 class="pmd-card-title-text"><%= event.mode_of_transport.upcase %></h3>
                                    <% if event.flight_num != nil %>
                                      <span class="pmd-card-subtitle-text"><%= event.flight_num %></span><br>
                                    <% end %>
                                    <% if event.flight_date != nil %>
                                      <span class="pmd-card-subtitle-text">Date: <%= event.when.strftime('%b %d, %Y') %></span><br>
                                    <% end %>
                                    <% if event.flight_time != nil %>
                                    <span class="pmd-card-subtitle-text">Time: <%= event.flight_time.strftime('%I:%M %p') %></span>
                                    <% end %>
                                </div>

                                <!-- Card media image -->
                                <div class="media-right media-middle">
                                  <% if event.mode_of_transport == 'Bus' %>
                                    <img width="152" height="152" src="/assets/bus.png">
                                  <% elsif event.mode_of_transport == 'Drive' %>
                                    <img width="152" height="152" src="/assets/car.png">
                                  <% elsif event.mode_of_transport == 'Plane' %>
                                    <img width="152" height="152" src="/assets/plane.png">
                                  <% elsif event.mode_of_transport == 'Train' %>
                                    <img width="152" height="152" src="/assets/train.jpg">
                                  <% else %>
                                    <img width="152" height="152" src="/assets/walk.png">
                                  <% end %>
                                </div>
                            </div>
                        </div>
                      <% end %><!-- TRANSPORTATION CARDS END -->

                      <!-- PHOTO CARDS -->
                      <% if event.type_of_event == 'photos' %>
                        <% event.eventphotos.each_with_index do |photo, j| %>
                          <div tabindex="-1" class="modal fade" id="picture-window<%= event.eventphotos[j].id %>" style="display: none;" aria-hidden="true">
                            <div class="modal-dialog" style="width: 50%;">
                              <div class="modal-content">
                                <div class="modal-header pmd-modal-bordered">
                                  <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                                  <h2 class="pmd-card-title-text">Map Image</h2><!-- Title -->
                                </div>
                                <div class="modal-body">
                                  <div class="pmd-card-media">
                                    <%=image_tag event.eventphotos[j].photo.card.url, class:"img-responsive", id:"card-photo"%>
                                  </div>
                                </div>

                              </div>
                            </div>
                          </div>
                        <% end %>

                        <!--Media, Title, Description and Action area -->
                        <div class="pmd-card pmd-card-default pmd-z-depth">
                          <!-- Card media -->
                          <div class="pmd-card-media">
                            <div id="myCarousel<%= event.id %>" class="carousel slide" data-ride="carousel" data-interval="false" >
                              <!-- Indicators -->
                              <ol class="carousel-indicators">
                                <li data-target="#myCarousel<%= event.id %>" data-slide-to="0" class="active"></li>
                                <% count = event.eventphotos.count %>
                                <% for i in 1..(count) %>
                                  <li data-target="#myCarousel<%= event.id %>" data-slide-to="<%= i %>"></li>
                                  <% i += 1 %>
                                <% end %>

                              </ol>

                              <!-- Wrapper for slides -->
                              <div class="carousel-inner">
                                  <div class="item active">
                                    <img src="<%= event.eventphotos[0].photo.card.url %>" style="width:100%;">
                                  </div>
                                  <% if count > 1 %>
                                    <% for i in 1..(count - 1) %>
                                      <div class="item">
                                        <img src="<%= event.eventphotos[i].photo.card.url %>" style="width:100%;">
                                      </div>
                                      <% i += 1 %>
                                    <% end %>
                                  <% end %>
                                  <div class="item" id='mapdiv<%= event.id %>'>
                                    <div id='places-container' style="height: 100%; width: 100%;">
                                      <div id="mapcard<%= event.id %>" style="width: 100%; height: 400px;"></div>
                                        <% if count == 1 %>
                                          <script>
                                            function initMap<%= event.id %>() {
                                              var myLatLng = {lat: <%= event.eventphotos[0].lat %>, lng: <%= event.eventphotos[0].long %>};
                                              var map = new google.maps.Map(document.getElementById('mapcard<%= event.id %>'), {
                                                zoom: 15,
                                                scrollwheel: false,
                                                mapTypeControl: false,
                                                zoomControlOptions: {
                                                  style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
                                                  position: google.maps.ControlPosition.TOP_CENTER
                                                },
                                                center: myLatLng
                                              });
                                              var marker = new google.maps.Marker({
                                                position: myLatLng,
                                                map: map,
                                                url: '#picture-window<%= event.eventphotos[0].id %>',
                                                icon: '<%= event.eventphotos[0].photo.thumb.url %>',
                                              });

                                              google.maps.event.addListener(marker, 'click', function() {
                                                $(marker.url).modal();
                                              });


                                              $('#myCarousel<%= event.id %>').on('slid.bs.carousel', function () {
                                                // Fetch map from maps object by key from element's data attribute
                                                google.maps.event.trigger(map, "resize");
                                                map.setCenter(myLatLng);
                                              });
                                            }
                                          </script>
                                        <% else %>
                                          <script>
                                            function initMap<%= event.id %>() {
                                              var bounds = new google.maps.LatLngBounds();
                                              var map = new google.maps.Map(document.getElementById('mapcard<%= event.id %>'), {
                                                scrollwheel: false,
                                                zoomControl: true,
                                                mapTypeControl: false,
                                                zoomControlOptions: {
                                                    style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
                                                    position: google.maps.ControlPosition.TOP_CENTER
                                                },
                                              });

                                              // Multiple Markers
                                              var markers = [
                                                <% if event.eventphotos.count == 1 %>
                                                  ['<%= event.eventphotos[0].photo.thumb.url %>', <%= event.eventphotos[0].lat %>, <%= event.eventphotos[0].long %>, '#picture-window<%= event.eventphotos[0].id %>']
                                                <% elsif event.eventphotos.count == 2 %>
                                                    ['<%= event.eventphotos[0].photo.thumb.url %>', <%= event.eventphotos[0].lat %>, <%= event.eventphotos[0].long %>, '#picture-window<%= event.eventphotos[0].id %>'],
                                                    ['<%= event.eventphotos[1].photo.thumb.url %>', <%= event.eventphotos[1].lat %>, <%= event.eventphotos[1].long %>, '#picture-window<%= event.eventphotos[1].id %>']
                                                <% elsif event.eventphotos.count > 2 %>
                                                  <% for j in 0..(count-2) %>
                                                    ['<%= event.eventphotos[j].photo.thumb.url %>', <%= event.eventphotos[j].lat %>, <%= event.eventphotos[j].long %>, '#picture-window<%= event.eventphotos[j].id %>'],
                                                    <% j += 1 %>
                                                  <% end %>
                                                  ['<%= event.eventphotos[count-1].photo.thumb.url %>', <%= event.eventphotos[count-1].lat %>, <%= event.eventphotos[count-1].long %>, '#picture-window<%= event.eventphotos[count-1].id %>']
                                                <% end %>
                                              ];

                                              // Loop through our array of markers & place each one on the map
                                              for( i = 0; i < markers.length; i++ ) {
                                                  var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
                                                  bounds.extend(position);
                                                  marker = new google.maps.Marker({
                                                      position: position,
                                                      map: map,
                                                      url: markers[i][3],
                                                      icon: markers[i][0]
                                                  });
                                                  google.maps.event.addListener(marker, 'click', (function(marker, i) {
                                                    return function() {
                                                    $(marker.url).modal();
                                                    console.log(marker.url)
                                                    }
                                                  }) (marker, i));
                                                  // Automatically center the map fitting all markers on the screen
                                                  map.fitBounds(bounds);
                                              }

                                              $('#myCarousel<%= event.id %>').on('slid.bs.carousel', function () {
                                                // Fetch map from maps object by key from element's data attribute
                                                google.maps.event.trigger(map, "resize");
                                                map.fitBounds(bounds);
                                              });
                                            }
                                          </script>
                                        <% end %>
                                    </div>
                                  </div>
                              </div>

                              <!-- Left and right controls -->
                              <a class="left carousel-control" href="#myCarousel<%= event.id %>" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                                <span class="sr-only">Previous</span>
                              </a>
                              <a class="right carousel-control" href="#myCarousel<%= event.id %>" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                                <span class="sr-only">Next</span>
                              </a>
                            </div>
                          </div>

                          <!-- Card body -->
                          <div class="pmd-card-body">
                            <div class="media-body media-middle">
                              <h3 class="pmd-card-title-text"><%= event.what %></h3>
                            </div>
                          </div>
                        </div>
                      <% end %><!-- PHOTO CARDS END -->

                      <!-- LOCATION TAG CARDS -->
                      <% if event.type_of_event == 'location_tag' %>
                        <!--Media, Title, Description and Action area -->
                        <div class="pmd-card pmd-card-default pmd-z-depth">
                          <!-- Card media -->
                          <div class="pmd-card-media">

                            <div id='places-container' style="height: 100%; width: 100%;">
                              <div id="mapcard<%= event.id %>" style="width: 100%; height: 300px;"></div>
                              <script>
                                function initMap<%= event.id %>() {
                                  var myLatLng = {lat: <%= event.lat %>, lng: <%= event.long %>};
                                  var map = new google.maps.Map(document.getElementById('mapcard<%= event.id %>'), {
                                    zoom: 14,
                                    scrollwheel: false,
                                    center: myLatLng
                                  });

                                  var marker = new google.maps.Marker({
                                    position: myLatLng,
                                    map: map,
                                   });
                                }
                              </script>
                            </div>
                          </div>

                          <!-- Card body -->
                          <div class="pmd-card-body">
                            <div class="media-body media-middle">
                                <h3 class="pmd-card-title-text"><%= event.what %></h3>
                                <span class="pmd-card-subtitle-text"><%= event.where %></span>
                            </div>
                            <%= event.why %>
                          </div>

                        </div>
                      <% end %><!-- LOCATION TAG CARDS END -->

                      <!-- WRITTEN ENTRY CARDS -->
                      <% if event.type_of_event == 'written' %>

                        <!--Media, Title, Description and Action area -->
                        <div class="pmd-card pmd-card-default pmd-z-depth">

                          <!-- Card body -->
                          <div class="pmd-card-body">
                            <div class="media-body media-middle">
                                <h3 class="pmd-card-title-text"><%= event.what %></h3><br>
                                <span class="pmd-card-subtitle-text"><%= event.when.strftime('%b %d, %Y') %></span>
                                <span class="pmd-card-subtitle-text"><%= event.where %></span><br>
                                <br>
                            </div>
                            <%= event.why %>
                          </div>

                        </div>
                      <% end %><!-- WRITTEN ENTRY CARDS END -->

                    <% end %>
                  <% end %>
                </div>
                <!-- CARD COLUMN #2 END -->

                <!-- CARD COLUMN #3 -->
                <div id="eventcolumn" class="col-xs-4">
                  <% day_arr.each_with_index do |event, index| %>
                    <% modulus = index % 3 %>
                    <% if modulus == 2 %><!-- MODULUS == 1 WILL BE SECOND COLUMN -->

                      <!-- ACCOMODATION CARDS -->
                      <% if event.type_of_event == 'accomodation' %>
                        <a data-target="#form-dialog-location<%= event.id %>" data-toggle="modal" style="text-decoration: none; text-decoration-color: black;" >
                        <!--Title, Media, and Action area -->
                          <div class="pmd-card pmd-card-media-inline pmd-z-depth">
                            <!-- Card media -->
                            <div class="pmd-card-media">
                              <!-- Card media heading -->
                                <div class="media-body">
                                    <h3 class="pmd-card-title-text"><%= event.what.upcase %></h3>
                                    <span class="pmd-card-subtitle-text"><%= event.where %></span><br>
                                    <span class="pmd-card-subtitle-text">Check-in: <%= event.when.strftime('%b %d, %Y') %></span><br>
                                    <span class="pmd-card-subtitle-text">Check-out: <%= event.accomodation_checkout.strftime('%b %d, %Y') %></span>
                                </div>

                                <!-- Card media image -->
                                <div class="media-right media-middle">
                                  <img width="152" height="152" src="/assets/cartoon-hotel-21.jpg">
                                </div>
                            </div>
                          </div>
                        </a>
                        <!-- Accomodation Location Tag Modals -->
                        <div tabindex="-1" class="modal fade" id="form-dialog-location<%= event.id %>" style="display: none;" aria-hidden="true">
                          <div class="modal-dialog" style="width: 50%;">
                            <div class="modal-content">
                              <div class="modal-header pmd-modal-bordered">
                                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                                <h2 class="pmd-card-title-text"><h3 class="pmd-card-title-text"><%= event.what.upcase %></h3></h2><!-- Title -->
                              </div>
                              <div class="modal-body">
                                <div id='places-container' style="height: 100%; width: 100%;">
                                  <div id="mapcard<%= event.id %>" style="width: 100%; height: 450px;"></div>
                                    <script>
                                      function initMap<%= event.id %>() {
                                        var myLatLng = {lat: <%= event.lat %>, lng: <%= event.long %>};
                                        var map = new google.maps.Map(document.getElementById('mapcard<%= event.id %>'), {
                                          zoom: 16,
                                          scrollwheel: false,
                                          center: myLatLng
                                        });

                                        var marker = new google.maps.Marker({
                                          position: myLatLng,
                                          map: map,
                                         });
                                        $("#form-dialog-location<%= event.id %>").on("shown.bs.modal", function () {
                                          google.maps.event.trigger(map, "resize");
                                          map.setCenter(myLatLng);
                                        });
                                      }
                                    </script>
                                  <span class="pmd-card-subtitle-text"><%= event.where %></span><br>
                                  <span class="pmd-card-subtitle-text">Check-in: <%= event.when.strftime('%b %d, %Y') %></span><br>
                                  <span class="pmd-card-subtitle-text">Check-out: <%= event.accomodation_checkout.strftime('%b %d, %Y') %></span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      <% end %><!-- ACCOMODATION CARDS END-->

                      <!-- TRANSPORTATION CARDS -->
                      <% if event.type_of_event == 'transportation' %>

                        <!--Title, Media, and Action area -->
                        <div class="pmd-card pmd-card-media-inline pmd-z-depth">
                          <!-- Card media -->
                            <div class="pmd-card-media">
                              <!-- Card media heading -->
                                <div class="media-body">
                                    <h3 class="pmd-card-title-text"><%= event.mode_of_transport.upcase %></h3>
                                    <% if event.flight_num != nil %>
                                      <span class="pmd-card-subtitle-text"><%= event.flight_num %></span><br>
                                    <% end %>
                                    <% if event.flight_date != nil %>
                                      <span class="pmd-card-subtitle-text">Date: <%= event.when.strftime('%b %d, %Y') %></span><br>
                                    <% end %>
                                    <% if event.flight_time != nil %>
                                    <span class="pmd-card-subtitle-text">Time: <%= event.flight_time.strftime('%I:%M %p') %></span>
                                    <% end %>
                                </div>

                                <!-- Card media image -->
                                <div class="media-right media-middle">
                                  <% if event.mode_of_transport == 'Bus' %>
                                    <img width="152" height="152" src="/assets/bus.png">
                                  <% elsif event.mode_of_transport == 'Drive' %>
                                    <img width="152" height="152" src="/assets/car.png">
                                  <% elsif event.mode_of_transport == 'Plane' %>
                                    <img width="152" height="152" src="/assets/plane.png">
                                  <% elsif event.mode_of_transport == 'Train' %>
                                    <img width="152" height="152" src="/assets/train.jpg">
                                  <% else %>
                                    <img width="152" height="152" src="/assets/walk.png">
                                  <% end %>
                                </div>
                            </div>
                        </div>
                      <% end %><!-- TRANSPORTATION CARDS END -->

                      <!-- PHOTO CARDS -->
                      <% if event.type_of_event == 'photos' %>
                        <% event.eventphotos.each_with_index do |photo, j| %>
                          <div tabindex="-1" class="modal fade" id="picture-window<%= event.eventphotos[j].id %>" style="display: none;" aria-hidden="true">
                            <div class="modal-dialog" style="width: 50%;">
                              <div class="modal-content">
                                <div class="modal-header pmd-modal-bordered">
                                  <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                                  <h2 class="pmd-card-title-text">Map Image</h2><!-- Title -->
                                </div>
                                <div class="modal-body">
                                  <div class="pmd-card-media">
                                    <%=image_tag event.eventphotos[j].photo.card.url, class:"img-responsive", id:"card-photo"%>
                                  </div>
                                </div>

                              </div>
                            </div>
                          </div>
                        <% end %>

                        <!--Media, Title, Description and Action area -->
                        <div class="pmd-card pmd-card-default pmd-z-depth">
                          <!-- Card media -->
                          <div class="pmd-card-media">
                            <div id="myCarousel<%= event.id %>" class="carousel slide" data-ride="carousel" data-interval="false" >
                              <!-- Indicators -->
                              <ol class="carousel-indicators">
                                <li data-target="#myCarousel<%= event.id %>" data-slide-to="0" class="active"></li>
                                <% count = event.eventphotos.count %>
                                <% for i in 1..(count) %>
                                  <li data-target="#myCarousel<%= event.id %>" data-slide-to="<%= i %>"></li>
                                  <% i += 1 %>
                                <% end %>

                              </ol>

                              <!-- Wrapper for slides -->
                              <div class="carousel-inner">
                                  <div class="item active">
                                    <img src="<%= event.eventphotos[0].photo.card.url %>" style="width:100%;">
                                  </div>
                                  <% if count > 1 %>
                                    <% for i in 1..(count - 1) %>
                                      <div class="item">
                                        <img src="<%= event.eventphotos[i].photo.card.url %>" style="width:100%;">
                                      </div>
                                      <% i += 1 %>
                                    <% end %>
                                  <% end %>
                                  <div class="item" id='mapdiv<%= event.id %>'>
                                    <div id='places-container' style="height: 100%; width: 100%;">
                                      <div id="mapcard<%= event.id %>" style="width: 100%; height: 400px;"></div>
                                        <% if count == 1 %>
                                          <script>
                                            function initMap<%= event.id %>() {
                                              var myLatLng = {lat: <%= event.eventphotos[0].lat %>, lng: <%= event.eventphotos[0].long %>};
                                              var map = new google.maps.Map(document.getElementById('mapcard<%= event.id %>'), {
                                                zoom: 15,
                                                scrollwheel: false,
                                                mapTypeControl: false,
                                                zoomControlOptions: {
                                                  style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
                                                  position: google.maps.ControlPosition.TOP_CENTER
                                                },
                                                center: myLatLng
                                              });
                                              var marker = new google.maps.Marker({
                                                position: myLatLng,
                                                map: map,
                                                url: '#picture-window<%= event.eventphotos[0].id %>',
                                                icon: '<%= event.eventphotos[0].photo.thumb.url %>',
                                              });

                                              google.maps.event.addListener(marker, 'click', function() {
                                                $(marker.url).modal();
                                              });


                                              $('#myCarousel<%= event.id %>').on('slid.bs.carousel', function () {
                                                // Fetch map from maps object by key from element's data attribute
                                                google.maps.event.trigger(map, "resize");
                                                map.setCenter(myLatLng);
                                              });
                                            }
                                          </script>
                                        <% else %>
                                          <script>
                                            function initMap<%= event.id %>() {
                                              var bounds = new google.maps.LatLngBounds();
                                              var map = new google.maps.Map(document.getElementById('mapcard<%= event.id %>'), {
                                                scrollwheel: false,
                                                zoomControl: true,
                                                mapTypeControl: false,
                                                zoomControlOptions: {
                                                    style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
                                                    position: google.maps.ControlPosition.TOP_CENTER
                                                },
                                              });

                                              // Multiple Markers
                                              var markers = [
                                                <% if event.eventphotos.count == 1 %>
                                                  ['<%= event.eventphotos[0].photo.thumb.url %>', <%= event.eventphotos[0].lat %>, <%= event.eventphotos[0].long %>, '#picture-window<%= event.eventphotos[0].id %>']
                                                <% elsif event.eventphotos.count == 2 %>
                                                    ['<%= event.eventphotos[0].photo.thumb.url %>', <%= event.eventphotos[0].lat %>, <%= event.eventphotos[0].long %>, '#picture-window<%= event.eventphotos[0].id %>'],
                                                    ['<%= event.eventphotos[1].photo.thumb.url %>', <%= event.eventphotos[1].lat %>, <%= event.eventphotos[1].long %>, '#picture-window<%= event.eventphotos[1].id %>']
                                                <% elsif event.eventphotos.count > 2 %>
                                                  <% for j in 0..(count-2) %>
                                                    ['<%= event.eventphotos[j].photo.thumb.url %>', <%= event.eventphotos[j].lat %>, <%= event.eventphotos[j].long %>, '#picture-window<%= event.eventphotos[j].id %>'],
                                                    <% j += 1 %>
                                                  <% end %>
                                                  ['<%= event.eventphotos[count-1].photo.thumb.url %>', <%= event.eventphotos[count-1].lat %>, <%= event.eventphotos[count-1].long %>, '#picture-window<%= event.eventphotos[count-1].id %>']
                                                <% end %>
                                              ];

                                              // Loop through our array of markers & place each one on the map
                                              for( i = 0; i < markers.length; i++ ) {
                                                  var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
                                                  bounds.extend(position);
                                                  marker = new google.maps.Marker({
                                                      position: position,
                                                      map: map,
                                                      url: markers[i][3],
                                                      icon: markers[i][0]
                                                  });
                                                  google.maps.event.addListener(marker, 'click', (function(marker, i) {
                                                    return function() {
                                                    $(marker.url).modal();
                                                    console.log(marker.url)
                                                    }
                                                  }) (marker, i));
                                                  // Automatically center the map fitting all markers on the screen
                                                  map.fitBounds(bounds);
                                              }

                                              $('#myCarousel<%= event.id %>').on('slid.bs.carousel', function () {
                                                // Fetch map from maps object by key from element's data attribute
                                                google.maps.event.trigger(map, "resize");
                                                map.fitBounds(bounds);
                                              });
                                            }
                                          </script>
                                        <% end %>
                                    </div>
                                  </div>
                              </div>

                              <!-- Left and right controls -->
                              <a class="left carousel-control" href="#myCarousel<%= event.id %>" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                                <span class="sr-only">Previous</span>
                              </a>
                              <a class="right carousel-control" href="#myCarousel<%= event.id %>" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                                <span class="sr-only">Next</span>
                              </a>
                            </div>
                          </div>

                          <!-- Card body -->
                          <div class="pmd-card-body">
                            <div class="media-body media-middle">
                              <h3 class="pmd-card-title-text"><%= event.what %></h3>
                            </div>
                          </div>
                        </div>
                      <% end %><!-- PHOTO CARDS END -->

                      <!-- LOCATION TAG CARDS -->
                      <% if event.type_of_event == 'location_tag' %>
                        <!--Media, Title, Description and Action area -->
                        <div class="pmd-card pmd-card-default pmd-z-depth">
                          <!-- Card media -->
                          <div class="pmd-card-media">

                            <div id='places-container' style="height: 100%; width: 100%;">
                              <div id="mapcard<%= event.id %>" style="width: 100%; height: 300px;"></div>
                              <script>
                                function initMap<%= event.id %>() {
                                  var myLatLng = {lat: <%= event.lat %>, lng: <%= event.long %>};
                                  var map = new google.maps.Map(document.getElementById('mapcard<%= event.id %>'), {
                                    zoom: 14,
                                    scrollwheel: false,
                                    center: myLatLng
                                  });

                                  var marker = new google.maps.Marker({
                                    position: myLatLng,
                                    map: map,
                                   });
                                }
                              </script>
                            </div>
                          </div>

                          <!-- Card body -->
                          <div class="pmd-card-body">
                            <div class="media-body media-middle">
                                <h3 class="pmd-card-title-text"><%= event.what %></h3>
                                <span class="pmd-card-subtitle-text"><%= event.where %></span>
                            </div>
                            <%= event.why %>
                          </div>

                        </div>
                      <% end %><!-- LOCATION TAG CARDS END -->

                      <!-- WRITTEN ENTRY CARDS -->
                      <% if event.type_of_event == 'written' %>

                        <!--Media, Title, Description and Action area -->
                        <div class="pmd-card pmd-card-default pmd-z-depth">

                          <!-- Card body -->
                          <div class="pmd-card-body">
                            <div class="media-body media-middle">
                                <h3 class="pmd-card-title-text"><%= event.what %></h3><br>
                                <span class="pmd-card-subtitle-text"><%= event.when.strftime('%b %d, %Y') %></span>
                                <span class="pmd-card-subtitle-text"><%= event.where %></span><br>
                                <br>
                            </div>
                            <%= event.why %>
                          </div>

                        </div>
                      <% end %><!-- WRITTEN ENTRY CARDS END -->

                    <% end %>
                  <% end %>
                </div>
                <!-- CARD COLUMN #3 END -->

              </div>
              <!-- END OF CARD COLUMN ROW CLASS -->
            <% end %>
          </div>
          <!-- END OF EVENT CARD TAB -->

          <!--- Start of Partipant Tab-->
          <div role="tabpanel" class="tab-pane" id="work-fixed">
            <div class="row">
              <% @story.story_members.each do |x| %>
                <div class="col-xs-4">
                <% y = x.user_id %>
                <% part = User.find(y) %>
                <!--Media and Description area -->
                  <%= link_to user_path(y) do %>
                    <div class="pmd-card pmd-card-default pmd-z-depth">
                    	<!-- Card media -->
                      <div class="pmd-card-media">
                      <%=image_tag part.profilepic.card.url, class:"img-responsive", id:"card-photo"%>
                      </div>
                      <!-- Card body -->
                      <div class="pmd-card-body">
                        <h3><%= part.first_name %> <%= part.last_name %></h3>
                      </div>
                    </div>
                  <%end %>
                </div>
                <%end %>
            </div>
          </div>
          <!--- End of Partipant Tab-->
        </div>
      </div> <!--Fixed tab example end-->


    <!-- GOOGLE MAP API KEY - initializemap function below -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBn3JpsPAtnQ-XNPSVcka3aHYg3OG-PQHg&libraries=places&callback=initializemap" async defer></script>

    <!-- initializemap function handles multiple calls for google maps api -->
     <script>
        function initializemap() {
          initAutocomplete();
          initAutocomplete2();
          <% @story.events.each do |event| %>
            <% if event.type_of_event == 'location_tag' %>
              initMap<%= event.id %>();
            <% elsif event.type_of_event == 'accomodation' %>
              initMap<%= event.id %>();
            <% elsif event.type_of_event == 'photos' %>
              initMap<%= event.id %>();
            <% end %>
          <% end %>
          initMapAll();
        }
     </script>
