<!DOCTYPE html>
<html>
  <head>
  <title>Team4</title>
  <!-- <%#= favicon_link_tag 'connections-dark.png' %> -->
	<%= csrf_meta_tag %>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

	<%= stylesheet_link_tag 'application' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  </head>
  <body>
  	    <!-- <%# if signed_in? %>
      Signed in as: <%#= current_user.email %>
      <%#= button_to 'Sign out', sign_out_path, method: :delete %>
    <%# else %>
      <%#= link_to 'Sign in', sign_in_path %>
    <%# end %>
 -->
     <!-- <div id="flash">
      <%# flash.each do |key, value| %>
        <div class="flash <%#= key %>"><%#= value %></div>
      <%# end %>
    </div> -->

<%= render partial: "layouts/navbar" %>

    <!-- Lower Left raised circle button with ripple effect -->
  

    <!-- Log In Modal -->
    <div tabindex="-1" class="modal fade" id="form-dialog" style="display: none;" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header pmd-modal-bordered">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h2 class="pmd-card-title-text">Log In</h2><!-- Title -->
          </div>
          <%= form_for :session, url: session_path do |form| %>
          <div class="modal-body">
            <div class="form-group pmd-textfield pmd-textfield-floating-label">
              <label for="first-name">Email Address</label>
              <input type="text" class="mat-input form-control" name=session[email]>
            </div>
            <div class="form-group pmd-textfield pmd-textfield-floating-label">
              <label for="first-name">Password</label>
              <input type="password" class="mat-input form-control" name=session[password]>
            </div>

          </div>
          <div class="pmd-modal-action">
            <%= form.submit do%><button data-dismiss="modal"  class="btn pmd-ripple-effect btn-primary" type="button">Log In</button><% end %>
            <%= link_to "/auth/facebook" do %>
              <img id="facebook_login" class=".pmd-z-depth-3" src="/assets/facebook_login.png" alt="Sign In With Facebook" height='40px'>
            <% end %>
          </div>
          <%end%>
        </div>
      </div>
    </div>

    <!-- Sign Up Modal -->
    <div tabindex="-1" class="modal fade" id="form-dialog-signup" style="display: none;" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header pmd-modal-bordered">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h2 class="pmd-card-title-text">Sign Up</h2><!-- Title -->
          </div>
          <%= form_for :user, url: users_path do |form| %>
          <div class="modal-body">
            <div class="form-group pmd-textfield pmd-textfield-floating-label">
              <label for="first-name">First Name</label>
              <input type="text" class="mat-input form-control" name=user[first_name]>
            </div>
            <div class="form-group pmd-textfield pmd-textfield-floating-label">
              <label for="last-name">Last Name</label>
              <input type="text" class="mat-input form-control" name=user[last_name]>
            </div>
            <div class="form-group pmd-textfield pmd-textfield-floating-label">
              <label for="email">Email Address</label>
              <input type="text" class="mat-input form-control" name=user[email]>
            </div>
            <div>
              <label for="profilepic">Profile Picture</label>
              <%= form.file_field :profilepic %>
            </div>
            <div class="form-group pmd-textfield pmd-textfield-floating-label">
              <label for="first-name">Password</label>
              <input type="password" class="mat-input form-control" name=user[password]>
            </div>
            <label class="checkbox-inline pmd-checkbox pmd-checkbox-ripple-effect">
              <input type="checkbox" value="">
              <span class="pmd-checkbox"> Accept Terms and conditions</span>
            </label>
          </div>
          <div class="pmd-modal-action">
            <%= form.submit :Submit, class: 'btn pmd-ripple-effect btn-primary' %>
            <%= link_to "/auth/facebook" do %>
              <img id="facebook_login" class=".pmd-z-depth-3" src="/assets/facebook_login.png" alt="Sign In With Facebook" height='40px'>
            <% end %>
          </div>
          <%end%>
        </div>
      </div>
    </div>

        <!-- New Story Modal -->
    <div tabindex="-1" class="modal fade" id="form-dialog-story" style="display: none;" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header pmd-modal-bordered">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h2 class="pmd-card-title-text">Create A New Story</h2><!-- Title -->
          </div>
          <%= form_for :story, url: stories_path do |form| %>
          <div class="modal-body">
            <div class="form-group pmd-textfield pmd-textfield-floating-label">
              <label for="title">Story Title</label>
              <input type="text" class="mat-input form-control" name=story[title]>
            </div>
            <div class="form-group pmd-textfield pmd-textfield-floating-label">
              <label for="description">Why</label>
              <input type="text-field" class="mat-input form-control" name=story[description]>
            </div>

          </div>
          <div class="pmd-modal-action">
            <%= form.submit do%><button data-dismiss="modal"  class="btn pmd-ripple-effect btn-primary" type="button">Create Story</button><% end %>
          </div>
          <%end%>
        </div>
      </div>
    </div>
    <%= yield %>

    </section>
  </body>
</html>
